[Unit]
Description=Aloft-Services Service
After=nginx.service

[Service]
PIDFile=/run/gunicorn/pid
User=stmobo
Group=stmobo
RuntimeDirectory=gunicorn
WorkingDirectory=/home/stmobo/aloft-services
ExecStart=/home/stmobo/aloft-services/venv/bin/gunicorn --pid /run/gunicorn/pid   \
          --bind=127.0.0.1:8000 --log-file /var/log/gunicorn.log
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
