-e git+git://github.com/stmobo/aloft-services.git@master#egg=aloft_services
click==6.7
Flask==1.0.2
Flask-Markdown==0.3
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
PyPDF2==1.26.0
Werkzeug==0.14.1
